{% extends 'base.html.twig' %}
{% block title %}MARVEL APP - {{ character.name }}{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>{{ character.name }}</h1>
    </div>
    <div class="row">
        <img class="col-md-4" src="{{ character.thumbnail.Detail }}" alt="{{ character.name }}">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item disabled">Description :</li>
                <li class="list-group-item">{{ character.description }}</li>
                <li class="list-group-item disabled">Number of appearances :</li>
                <li class="list-group-item">{{ character.ComicsAvailable }}</li>
                <li class="list-group-item disabled">First appearances :</li>
                {% for comic in character.comics %}
                    <li class="list-group-item">{{ comic.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}