{% extends 'base.html.twig' %}

{% block body %}
    <ul class="media-list">
        {% for character in characters %}
            <li class="media panel">
                <div class="media-left">
                        <img class="media-object" src="{{ character.thumbnail.StandardLarge }}" alt="{{ character.name }}">
                </div>
                <div class="media-body">
                    <a href="/character/{{ character.id }}" class="media-heading">{{ character.name }}</a>
                    <p>{{ character.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

