{% extends 'base.html.twig' %}

{% block body %}
    <ul class="media-list">
        {% for character in characters %}
            <li class="media panel">
                <div class="media-left">
                        <img class="media-object" src="{{ character.thumbnail.StandardLarge }}" alt="{{ character.name }}">
                </div>
                <div class="media-body">
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#{{ character.id }}" class="media-heading">{{ character.name }}</a>
                    <p>{{ character.description }}</p>
                    <div class="collapse" id="{{ character.id }}">
                        <div>Number of appearances : {{ character.ComicsAvailable }}</div>
                        <div>First 3 comics :
                            {% for comic in character.comics %}
                                {{ comic.title }},
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

